.grad {
    position: fixed;
    background: url(./assets/team24a.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    width: 66.67%; /* Two-thirds of the page width */
    max-width: 1000px; /* Optional, but can limit the maximum width */
    /* background-attachment: fixed; */
}

.container {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* position: absolute; */
}

img {
    width: 1400px;
    position: fixed;
    height: 955px;
}

.input{

    position: fixed;
    margin-left: 1550px;
    margin-top: 300px;
  
}

.inputs{

    position: fixed;
    margin-top: 300px;
    margin-left: 110px;

}

/* Add this to your CSS file */
@keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .grad-slide {
    animation: slideIn 1s ease-out forwards;
  }

  .grad-slid {
    animation: slideOut 1s ease-out forwards;
  }

  @keyframes slideOut {
    100% {
      transform: translateX(0);
      opacity: 1;
    }
    0% {
        transform: translateX(100%);
        opacity: 1;
      }
  }
  

